.form {

  &-control {
    background-color: $leaf;
    border-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-color: $white;
    color: $white;

    &:focus {
      background-color: $leaf;
      border-color: $leaf;
      color: $white;
    }

    &-feedback {
      border-top-width: 1px;
    }
  }

  &-row {
    padding-top: $spacer;

    &:first-child {
      border-top: 1px solid $white;
    }
  }

  ::placeholder {
    color: $white;
    opacity: 1;
  }

  &.was-validated {

    .form-control {

      &:valid,
      &.is-valid {
        border-color: $white;
        color: $white;
      }
    }

    .custom-control-input {

      &:valid,
      &.is-valid {

        & ~ .custom-control-label {
          border-color: $white;
          color: $white;

          &:before {
            background-color: $leaf;
            border-color: $white;
          }
        }
      }
    }
  }

  .custom-checkbox {
    margin-top: $spacer*2;

    .custom-control-label {
      font-size: $font-size-sm;

      &:before {
        border-radius: 0;
        background-color: $leaf;
        border-color: $white;
      }
    }
  }

  .button {
    margin-top: $spacer*2;
  }
}