<div class="layout layout--{{row.acf_fc_layout}} bg-{{ row.background }}">
    <div class="layout__container">
        <div class="row">
            <div class="layout__column-with-margin col-12 col-sm-6 offset-sm-1">
                {% for content in row.column_with_margin_content_with_margin %}
                    {% if     content.acf_fc_layout == 'image' %}
                        {% include 'modules/image.twig' with { image: content.image, caption: content.caption } %}
                    {% elseif content.acf_fc_layout == 'quote' %}
                        {% include 'modules/quote.twig' with {} %}
                    {% elseif content.acf_fc_layout == 'read_more' %}
                        {% include 'modules/read_more.twig' with {} %}
                    {% elseif content.acf_fc_layout == 'text' %}
                        {% include 'modules/text.twig' with {} %}
                    {% elseif content.acf_fc_layout == 'video' %}
                        {% include 'modules/video.twig' with { video: content } %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="layout__margin-column col-12 col-sm-3 offset-sm-1">
                {% for content in row.margin_column_content_margin_column %}
                    {% if     content.acf_fc_layout == 'call_to_action' %}
                        {% include 'modules/call_to_action.twig' with { link:content.link } %}
                    {% elseif content.acf_fc_layout == 'logo_group' %}
                        {% include 'modules/logo_group.twig' with {} %}
                    {% elseif content.acf_fc_layout == 'quote' %}
                        {% include 'modules/quote.twig' with {} %}
                    {% elseif content.acf_fc_layout == 'read_more' %}
                        {% include 'modules/read_more.twig' %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>