.accordion {
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        font-weight: bold;
        font-size: $font-size-base * 1.25;
        padding: $spacer * 0.75;
        padding-right: $spacer * 1.25;
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: $black;

        .bg-leaf &, .modal-body & {
            border-color: $white;
        }
        &.collapsed {
            margin-bottom: -1px;
        }
    }
    &__content {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 350ms ease-in-out;
        &.show  {
            max-height: 2000px;
        }
    }
    &__text {
        padding: $spacer;
        padding-bottom: $spacer * 2;
    }
}
