.contact-header {

  padding-top: $global-layout-spacer;
  padding-bottom: $global-layout-spacer-large;

  @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
    padding-top: $global-layout-spacer-huge * 2.5;
  }
}