.image-module {
    &__image {
        position: relative;
        padding-top: 66.6%;
    }
    &__caption {
        padding-top: 14px;
        color: $dark;
    }

    &--portait {

        .image-module__image {
            padding-top: 100%;
        }

        .image-fit__image {
            object-fit: contain;
        }
    }
    &--fluid {

        .image-module__image {
            padding-top: 0;
        }

    }
}