.image-slider {
    height: 560px;

    &__cell {
        height: 100%;
        margin-left: $spacer * 0.5;
        margin-right: $spacer * 0.5;
    }
    .flickity-button {
        background: none;
        color: $white;
        transition: color 500ms;
        &:hover {
            color: $pepper;
        }
    }
    @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
        &__cell {
            margin-left: $spacer;
            margin-right: $spacer;
        }

        .flickity-prev-next-button {
            width: 60px;
            height: 60px;
    
            &.next {
                right: 8%;
            }
    
            &.previous {
                left: 8%;
            }
        }

    }
}