.logo-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 300px;
    .logo {
        height: 85px;
        width: 125px;
        margin-top: $spacer * 0.5;
        margin-bottom: $spacer * 2.5;
        padding: 0;
        background: $white;

        &__image {
            max-height: 75px;
        }
    }
    @media screen and (min-width: map-get($grid-breakpoints, "md")) {
        justify-content: space-between;
    }
    &--large {
        max-width: 100%;
        flex-wrap: nowrap;

        .logo {
            padding-right: $spacer;
            padding-left: $spacer;
            width: calc(100% / 3);
        }
        &__image {
            max-height: 100px;
        }
    }
}