.story-header {

    &--standard {
        overflow: hidden;
        
        & .story-header__image {
            position: relative;
            flex: 0 0 100%;
            max-width: 100%;
            padding-top: 72%;

            @media screen and (min-width: map-get($grid-breakpoints, "md")) {
                flex: 0 0 58.33333%;
                max-width: 58.33333%;
                padding-top: 0;
            }
        }

        & .story-header__meta {
            padding-top: $spacer * 2.5;

            @media screen and (min-width: map-get($grid-breakpoints, "md")) {
                margin-left: $spacer * 1.75;
                display: flex;    
                flex-direction: column;
                justify-content: center;
                padding-top: 0;
            }
        }

        .blob--4 {
            top: 22%;
            left: -180px;
            transform: rotate(65deg);
        }
    }
    

    &--alternative {

        & .story-header__image {
            height: 58%;
            position: relative;
            flex: 0 0 100%;
            max-width: 100%;
        }

        & .story-header__meta {
            margin-top: calc(-8px - #{$spacer});
            height: 42%;
        }

        .blob--4 {
            top: -160px;
            left: -120px;
            transform: rotate(65deg);
        }
    }

    &--no-image {

        height: auto;
        padding-top: 20%;

        .blob--4 {
            height: 420px;
            top: -160px;
            left: -120px;
            transform: rotate(-30deg);
        }
    }

    @media screen and (min-width: map-get($grid-breakpoints, "md")) {
        &--standard, &--alternative {
            height: 100vh;
            display: flex;
        }
        &--standard {
            flex-wrap: nowrap;
        }
        &--alternative {
            flex-wrap: wrap;
        }
    }

    &__meta {
        z-index: 1;
    }

    &__kicker {
        text-transform: uppercase;

        span {
            font-weight: bold;
            padding-right: $spacer * 0.25;
        }
    }

    &__title {
        font-size: 50px;
    }

    &__authors {
        padding-top: $spacer * 1.75;
    }
}