.story-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 180px;
	grid-gap: 10px;
	padding-bottom: $global-layout-spacer-large;

	&__item {
		height: 100%;
		grid-row: span 2;
		border-radius: 0;
		position: relative;

		.story-grid--masonry & {
			animation-name: fadeIn;
			animation-duration: 2s;
		}

		.story-grid--regular & {
			//animation-name: fadeOutIn2;
			animation-duration: 1.75s;

			&:nth-child(odd) {
				display: none;
			}
		}
	}

	&__link {
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0, 0.2);
		transition: background-color .15s ease-in-out;

		&:hover {
			background-color: rgba( $pepper, 0.75);
		}
		.story-grid__item--large &:hover {
			background-color: rgba( $orange, 0.75);
		}
		.story-grid__item--medium &:hover {
			background-color: rgba( $grass, 0.75);
		}
	}

	&__kicker {
		color: $white;
		text-transform: uppercase;
		padding: $spacer;
		font-size: $font-size-sm;
	}

	&__title {
		color: $white;
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		padding-left: $spacer;
		padding-right: $spacer;
	}

	.image-fit {
		z-index: -1;

		&__copyright {
			display: none;
		}
	}
	@media screen and (min-width: map-get($grid-breakpoints, "md")) {
		grid-template-columns: 1fr 1fr;

		&__item {
			grid-row: span 2;
	
			.story-grid--masonry & {
				grid-row: span 2;
			}
	
			.story-grid--masonry &--large {
				grid-row: span 2;
				grid-column: span 2;
			}
	
			.story-grid--masonry &--medium {
				grid-row: span 2;
			}
		}
	}
	@media screen and (min-width: map-get($grid-breakpoints, "lg")) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-auto-rows: 240px;

		&__item {
			.story-grid--masonry & {
				grid-row: span 2;
			}
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}