h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: $spacer;
}
h1 {
    font-size: $h1-font-size * 0.75;
    @media screen and (min-width: map-get($grid-breakpoints, "md")) {
        font-size: $h1-font-size;
        margin-bottom: $spacer * 2;
    }
}
h2 {
    font-size: $h2-font-size;
    @media screen and (min-width: map-get($grid-breakpoints, "md")) {
        margin-bottom: $spacer * 2;
    }
}
h3 {
    font-size: $h3-font-size;
}
h4 {
    font-size: $h4-font-size;
}
h5 {
    font-size: $h5-font-size;
}
h6 {
    font-size: $h6-font-size;
}