<div class="tease-news">
	<div class="tease-news__kicker">{{ news.date }}</div>
	<h5 class="tease-news__title pt-2">
		<a class="tease-news__link" href="{{news.link}}">{{news.meta.title}}</a>
	</h5>
	<div class="tease-news__intro">{{news.meta.intro}}</div>
</div>