<div class="help">
    <h2>Welcome to the Dzanga Sangha Wordpress Backend!</h2>
    <p>If you need help check out the <strong><a href="{{ dashboard.help_documentation }}">documentation</a></strong> or contact the developer <strong><a href="mailto:{{ dashboard.help_mail }}">here</a></strong>.</p>
</div>