{% if post.enable_related_links %}
    <div class="related-links layout">
        <div class="layout__container">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <h5 class="related-links__title">{{ post.related_title }}</h5>
                </div>
            </div>
        </div>
        <div class="layout__container mt-2">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <div class="row">
                        {% set related_links = post.get_field('related_links') %}
                        {% for related_link in related_links %}
                            <div class="col-12 col-md-6 col-lg-4 mb-4">
                                {% include "modules/call_to_action.twig" with {link: related_link.link } %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}