#wpadminbar {
    background: $leaf;
    font-family: $global-font-family-sans;
    font-size: 1rem;

    & * {
        font-family: $global-font-family-sans;
        font-size: 1rem * 0.875;
    }

    & .ab-top-menu>li.hover>.ab-item, 
    &.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, 
    &:not(.mobile) .ab-top-menu>li:hover>.ab-item, 
    &:not(.mobile) .ab-top-menu>li>.ab-item:focus {
        background: $pepper;
        color: $white;
    }

    & .quicklinks .ab-sub-wrapper .menupop.hover>a, 
    & .quicklinks .menupop ul li a:focus, 
    & .quicklinks .menupop ul li a:focus strong, 
    & .quicklinks .menupop ul li a:hover, 
    & .quicklinks .menupop ul li a:hover strong, 
    & .quicklinks .menupop.hover ul li a:focus, 
    & .quicklinks .menupop.hover ul li a:hover, 
    & .quicklinks .menupop.hover ul li div[tabindex]:focus, 
    & .quicklinks .menupop.hover ul li div[tabindex]:hover,
    & li #adminbarsearch.adminbar-focused:before, 
    & li .ab-item:focus .ab-icon:before, & li .ab-item:focus:before, 
    & li a:focus .ab-icon:before, 
    & li.hover .ab-icon:before, 
    & li.hover .ab-item:before, 
    & li:hover #adminbarsearch:before, 
    & li:hover .ab-icon:before, 
    & li:hover .ab-item:before, 
    &.nojs .quicklinks .menupop:hover ul li a:focus, 
    &.nojs .quicklinks .menupop:hover ul li a:hover {
        color: $white;
    }

    & .menupop .ab-sub-wrapper, & .shortlink-input {
        background: $leaf;
    }
    
    &:not(.mobile)>#wp-toolbar a:focus span.ab-label, 
    &:not(.mobile)>#wp-toolbar li:hover span.ab-label, 
    &>#wp-toolbar li.hover span.ab-label {
        color: $white;
    }
}